<!doctype html>
<html lang="ko">

<head>
    {% include 'fragment.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/posting.css') }}">

</head>

<body>
    <!-- nav-bar -->
    {% include 'navbar.html' %}

    <div class="wrap">

        <!-- img-preview -->
        <div class="img-container">
            <div class="img-wrap">
                <img src="{{ url_for('static', filename='img/' + data['diary_file']) }}" alt="이미지" id="img-preview">
            </div>
        </div>

        <!-- posting-box -->
        <div class="posting-box">
            <div class="custom-file form-group file-upload">
                <input type="file" class="custom-file-input" id="file" onchange="preview(this)"
                    value="{{ url_for('static', filename='img/' + data['diary_file']) }}">
                <label class="custom-file-label" id="file_text" for="file">{{data['diary_file']}}</label>
            </div>

            <div class="form-group mt-2">
                <label>😅제목</label>
                <input type="email" class="form-control" id="title" placeholder="제목 수정?"
                    value="{{data['diary_title']}}">
            </div>
            <div class="form-group">
                <label>😅주인공</label>
                <input class="form-control" list="species_selections" id="friend_species" placeholder="주인공 수정?">
            <datalist id="species_selections">
                <option value="🐶강아지">
                <option value="🐢거북이">
                <option value="🦔고슴도치">
                <option value="🐱고양이">
                <option value="🐦새">
                <option value="🐠물고기">
                <option value="🐰토끼">
                <option value="🐹햄스터">
                <option value="🎸기타...">
            </datalist>
            </div>
            <div class="form-group">
                <label>😅성별</label>
                <input class="form-control" list="sex_selections" id="friend_sex" placeholder="성별 수정?">
            <datalist id="sex_selections">
                <option value="🤴🏻왕자">
                <option value="👸🏻공주">
            </datalist>
            </div>
             <div class="form-group">
                <label>😅이름</label>
                <textarea class="form-control" id="friend_name" rows="5"
                    placeholder="이름 수정?">{{data['friend_name']}}</textarea>
            </div>
            <div class="form-group">
                <label>😅나이</label>
                <textarea class="form-control" id="friend_age" rows="5"
                    placeholder="나이 수정?">{{data['friend_age']}}</textarea>
            </div>
            <div class="form-group">
                <label>😅일기쓰기</label>
                <textarea class="form-control" id="content" rows="5"
                    placeholder="내용 수정!">{{data['diary_content']}}</textarea>
            </div>










            <!-- btn-group -->


            <div class="btn-wrap">
                <button onclick="update()" type="button" class="btn btn-dark btn-lg" id="posting-btn">수정</button>
                <button onclick="deleteDiary()" type="button" class="btn btn-danger btn-lg mr-3">삭제</button>
                <button onclick="cancelBtn()" type="button" class="btn btn-secondary btn-lg mr-3">취소</button>
            </div>

        </div>
    </div>


    <script src="{{ url_for('static', filename='js/update.js') }}"></script>
</body>

</html>