<head>
<!--    {% include 'fragment.html' %}-->
    <script src="../static/js/navbar.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="text-center"><img src="/static/img/logo.png" width="40"
                                                                        height="40" class="d-inline-block align-top"
                                                                        alt="">  ZIPSA-DIARY</span></a>
        <a class="nav-link"
           href="https://www.animal.go.kr/front/community/show.do?boardId=contents&seq=53&menuNo=1000000058"><img
                src="/static/img/logo2.png" width="20" height="20" class="d-inline-block align-top" alt=""> 입양안내</a>
        <a class="nav-link" href="https://www.animal.go.kr/aec/index.do"><img src="/static/img/libra.svg" width="20"
                                                                              height="20"
                                                                              class="d-inline-block align-top" alt="">
            동물실험윤리위원회</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <!-- 인증시 -->
            <ul id="show_posting_button_by_token" class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.cookies.get('mytoken') is none %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/posting"><img src="/static/img/write.svg" width="25" height="25">
                        일기쓰기</a>
                </li>

                {% endif %}

            </ul>
            <ul id="show_user_by_token" class="navbar-nav">
                <!-- 미인증시 -->
                {% if request.cookies.get('mytoken') is none %}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><img src="/static/img/loginlogin.svg" width="25" height="25"> 로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup"><img src="/static/img/signupup.svg" width="25" height="25"
                    > 회원가입</a>
                </li>
                <!--인증시-->
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" onclick="logout()"><img src="/static/img/exit.svg"
                                                                                         width="25" height="25">로그아웃</a>
                </li>
                <li class="nav-item">
                    <span id="user_id" class="nav-link"></span>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</div>

